<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMISION 17</title>
</head>
<body>
    <h1>tiembla anonymous</h1>
    <ul>
        <li><a href="/register">Registrate en nuestra pagina, Sumate a la mejor comundad de la comision 17</a></li>
        <li><a href="/login">¿Ya tenes cuenta? ¿que esperas para iniciar sesion?</a></li>
        <li><a href="/contacto">¿Queres formar parte de nuestro elenco? contactanos</a></li>
    </ul>
    <h1>paginas reco</h1>
    <ol> <!-- li*3>a -->
        <li><a href="https://ar.pinterest.com/">pinterest</a></li>
        <li><a href="https://www.google.com/">google</a></li>
        <li><a href="https://www.youtube.com/">youtube</a></li>
    </ol>

</body>
</html>